@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@font-face {
  font-family: Millik;
  src: url(../../assets/Millik.otf);
}

@font-face {
  font-family: Inter;
  src: url(../../assets/Inter-Regular.otf);
}

.banner {
  display: flex;
  .bigBanner {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 758px !important;
    background: #2585761c;
    // padding: 10px;
    :nth-child(1),
    :nth-child(2) {
      padding: 20px;
    }
    div {
      h3 {
        font-family: Millik;
        font-size: 48px;
        font-weight: 400;
        line-height: 46.42px;
        text-align: left;
      }
      p {
        font-family: Lato;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        text-align: left;
      }
    }
  }
}

.difference-container {
  display: block;
  position: relative;
  .row {
    border: 1px solid #1f2d25;
    box-shadow: 0px 4px 0px 0px #1f2d25;
    position: absolute;
    background: #fff;
    top: -50%;
    transform: translateY(-275px);
    div {
      :nth-child(1),
      :nth-child(2) {
        background: #fff;
        padding: 10px;
      }
      img {
        width: 600px;
        height: 360px;
        padding: 0px 20px 0px 20px;
        object-fit: contain;
      }

      h3 {
        font-family: Millik;
        font-size: 24px;
        font-weight: 400;
        line-height: 28.8px;
        letter-spacing: -0.04em;
        text-align: left;
        margin-top: 85px;
      }

      p {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 23.8px;
        text-align: left;
      }
    }
  }
}

.all {
  background: #18564c;
}
// about second
.cf {
  display: none;
  position: relative;
  margin-top: 50px;
  background-image: url("../../assets/Frame 110.png");
  background-color: #f8dfdf;
  height: 581px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;

  .c {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: unset;
    height: 100%;

    .p-tag-class {
      position: absolute;
      color: white;
      max-width: 634px;
      font-family: Inter;
      font-size: 20px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      top: 90%;
      transform: translateY(-90%);
    }
  }
}
// About second end

.carousel {
  padding: unset;
  .carousel-inner {
    .carousel-item {
      img {
        height: 580px;
        object-fit: cover;
        width: 100%;
      }
      .carousel-caption {
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        width: 611px;
        h5 {
          font-family: Millik;
          font-size: 48px;
          font-weight: 400;
          line-height: 46px;
          letter-spacing: 0em;
          text-align: center;
        }
        P {
          font-family: Lato;
          font-size: 18px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0em;
          text-align: center;
        }
      }
    }
  }
}

.our-vision {
  margin-bottom: unset !important;
  padding: 0 50px;
  .core-values {
    margin-top: -80px;
  }
  .hello {
    .cu {
      display: flex;
      color: #fff;
      width: 87vw;
      height: auto;
      padding: 150px 50px 20px 50px;
      h3 {
        font-family: Millik;
        font-size: 38px;
        font-weight: 400;
        line-height: 36.75px;
        text-align: left;
        width: 595px;
        height: 185px;
      }
      ul {
        display: grid;
        align-items: flex-end;
        li {
          font-family: Inter;
          font-size: 24px;
          font-weight: 400;
          line-height: 29.05px;
          text-align: left;
        }
      }
    }
  }

  .core-values {
    .core-values-container {
      display: none;
      .fo {
        // margin-top: 20px !important;
      }
      p {
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 32px;
        letter-spacing: 0em;
        text-align: center;
        color: #202020;
      }
    }
  }

  .card {
    height: 237px;
    height: auto;
    width: auto;
    /* max-width: 295px; */
    display: grid;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-top: 170px;
    .card-body {
      h6 {
        font-family: Millik;
        font-size: 22px;
        font-weight: 400;
        line-height: 21px;
        letter-spacing: 0em;
        text-align: center;
      }
      p {
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}

.our-partners-header {
  display: grid;
  justify-content: center;
  .row {
    width: 932px;
    div {
      &:nth-child(1) {
        margin-top: 50px;
      }
      h3 {
        font-family: Millik;
        font-size: 38px;
        font-weight: 400;
        line-height: 37px;
        letter-spacing: 0em;
        text-align: left;
      }
      p {
        font-family: Inter;
        font-size: 24px;
        font-weight: 400;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
}

.slider-area {
  margin: 20px 0 50px 0;
  .wrapper {
    width: 100%;
    .item {
      &:nth-child(1) {
        margin-left: 50px;
      }
      margin-right: 50px;
      img {
        max-width: 250px;
        width: 100%;
        max-height: 100px;
      }
    }
  }
}

.company {
  .row {
    .company-photos {
      img {
      }
    }
  }
}

@media (max-width: 768px) {
  .bigBanner {
    display: none !important;
  }
  .check-big {
    width: 100% !important;
  }

  .difference-container {
    .row {
      border: 1px solid #1f2d25;
      box-shadow: 0 1px 0 0 #1f2d25;
      position: relative;
      background: #fff;
      top: unset;
      transform: unset;
      div {
        img {
          width: 100%;
          height: unset;
          padding: unset;
          -o-object-fit: contain;
          object-fit: contain;
        }
      }
    }
  }
  .all {
    background: #fff;
  }
  // aboutsecond
  .cf {
    // display: block;
    // height: 471px;
    .c {
      .p-tag-class {
        max-width: 315px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 0em;
      }
    }
  }
  // about second end
  .carousel {
    .carousel-control-prev,
    .carousel-control-next {
      display: none;
    }
    .carousel-inner {
      .carousel-item {
        .carousel-caption {
          transform: translate(-50%, -50%);
          position: absolute;
          top: 60%;
          left: 50%;
          width: 327px;
          padding: 0 20px;
          h5 {
            display: block;
            width: unset;
            font-family: Millik;
            font-size: 26px;
            font-weight: 400;
            line-height: 25px;
            letter-spacing: 0em;
            text-align: center;
          }
          P {
            display: block;
            font-family: Lato;
            font-size: 12px;
            font-weight: 500;
            line-height: 14px;
            letter-spacing: 0em;
            text-align: center;
          }
        }
      }
    }
  }
  .our-vision {
    margin: unset;
    display: grid;
    margin-bottom: 100px;
    .core-values {
      margin: unset;
      .row {
        padding: 0 0 0 30px !important;
      }
    }
    .hello {
      margin-top: -15px;
      .cu {
        display: grid;
        background-color: unset;
        color: #000;
        width: unset;
        height: unset;
        margin: unset;
        h3 {
          font-family: Millik;
          font-size: 38px;
          font-weight: 400;
          line-height: 37px;
          letter-spacing: 0em;
          text-align: left;
          color: #258576;
          width: unset;
          height: unset;
        }
        ul {
          li {
            font-size: 14px;
            font-weight: 400;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: left;
          }
        }
      }
    }

    .core-values {
      .row {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: unset;
        .core-value {
          height: 195px;
          max-width: 295px;
          margin-top: 30px;
          &:nth-child(1) {
            margin-top: -30px;
          }
          &:nth-child(4) {
            margin-bottom: 50px;
          }
        }
      }
      .core-values-container {
        display: block;
        margin: unset;
        .fo {
          font-size: 24px;
          font-weight: 400;
          line-height: 23px;
          letter-spacing: 0em;
        }
        p {
          font-size: 14px;
          font-weight: 400;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: center;
        }
      }
    }

    .card {
      height: 195px;
      max-width: 295px;
      display: grid;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
      margin-top: 50px;
      .card-body {
        h6 {
          font-size: 16px;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0em;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 0em;
          text-align: center;
        }
      }
    }
  }

  .our-partners-header {
    display: grid;
    justify-content: center;
    .row {
      width: 327px;
      div {
        &:nth-child(1) {
          margin-top: 30px;
        }
        h3 {
          font-size: 22px;
          font-weight: 400;
          line-height: 21px;
          letter-spacing: 0em;
        }
        p {
          font-size: 12px;
          font-weight: 400;
          line-height: 17px;
          letter-spacing: 0em;
        }
      }
    }
  }

  .slider-area {
    margin: 20px 0 50px 0;
    .wrapper {
      width: 100%;
      .item {
        &:nth-child(1) {
          margin-left: 50px;
        }
        margin-right: 50px;
        img {
          width: unset;
          max-height: 40px;
        }
      }
    }
  }

  .company {
    .row {
      margin: unset !important;
      padding: unset !important;
      .company-photos {
        display: grid;
        justify-content: center;
        padding: unset;
        margin: unset;
        margin-top: 20px;
        img {
          margin: unset;
          padding: unset;
          width: 327px;
          object-fit: cover;
          &:nth-child(2) {
            margin-top: 20px;
          }
        }
      }
    }
  }
}
