.chatSection {
  margin-top: 10px;
  display: grid;
  position: fixed;
  z-index: 10000;
  top: 0%;
  left: 70%;
  .chatContainer {
    position: relative;
    width: 399px;
    height: 500px;
    background: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px 10px 0 0;
    .chatHeader {
      background: #258576;
      border: 1px;
      padding: 15px 20px 15px 20px;
      color: #fff;
      border-radius: 10px 10px 0px 0px;
    }

    .chatContent {
      height: 60%;
      overflow-y: auto;
      scrollbar-width: none;
      -ms-overflow-style: none;

      .message-head {
        border-radius: 10px;
        border: 1px solid #e0e0e0;
        margin-top: 50px;
        margin-left: 10px;
        padding: 10px 20px;
        width: 225px;
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 26.6px;
        text-align: left;
        color: #202020b2;
      }

      .message-date {
        text-align: center;
        border-bottom: 1px solid #eee;
        line-height: 0.1em;
        font-size: 14px;
        font-weight: 500;
        margin: 36px 0;
        width: 100%;
        color: #202020b2;
        span {
          color: #202020b2;
          padding: 0 10px;
          background: #fff;
        }
      }

      .chat-inner {
        display: grid;
        padding-bottom: 100px;
        .message-left {
          display: flex;
          padding-left: 10px;
          margin-top: 10px;
          .userImage {
            background: #b5b5b5;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
            }
          }

          .message-container {
            display: grid;
            margin-left: 5px;
            .message {
              max-width: 170px;
              border: 1px solid #e0e0e0;
              padding: 10px 20px 10px 20px;
              border-radius: 0px 20px 20px 20px;
              opacity: 0px;
              font-family: Inter;
              font-size: 14px;
              font-weight: 400;
              line-height: 26.6px;
              text-align: left;
              color: #202020b2;
            }

            .message-time {
              margin-top: 5px;
              font-family: Inter;
              font-size: 10px;
              font-weight: 400;
              line-height: 12.1px;
              text-align: left;
              color: #bababa;
            }
          }
        }

        .message-right {
          display: flex;
          margin-left: auto;
          margin-top: 10px;
          margin-right: 10px;
          .message-container {
            .message {
              border: 1px solid #e0e0e0;
              max-width: 248px;
              padding: 10px 20px 10px 20px;
              border-radius: 20px 0px 20px 20px;
              opacity: 0px;
              font-family: Inter;
              font-size: 14px;
              font-weight: 400;
              line-height: 16.94px;
              text-align: left;
              color: #202020b2;
            }
            .message-time {
              float: right;
              margin-top: 5px;
              font-family: Inter;
              font-size: 10px;
              font-weight: 400;
              line-height: 12.1px;
              text-align: left;
              color: #bababa;
            }
          }
        }
      }
    }

    .sendMessage {
      position: absolute;
      top: 59%;
      background: #fff;
      width: 100%;
      z-index: 9999999;
      .message-head {
        input {
          width: 100%;
          border: none;
          outline: none;
          padding: 10px;
          border-bottom: 1px solid #e0e0e0;
          &::placeholder {
            font-family: Inter;
            font-size: 14px;
            font-weight: 300;
            line-height: 26.6px;
            text-align: left;
            color: #20202080;
          }
        }
      }
      .textarea-container {
        textarea {
          overflow-y: auto;
          scrollbar-width: none;
          -ms-overflow-style: none;
          resize: none;
          border: none;
          outline: none;
          padding: 10px;

          &::placeholder {
            font-family: Inter;
            font-size: 14px;
            font-weight: 300;
            line-height: 26.6px;
            text-align: left;
            color: #20202080;
          }
        }
        .sendMessageBtn {
          img {
            width: 50px;
            height: 50px;
            position: absolute;
            right: 10px;
            bottom: 10px;
            cursor: pointer;
          }
        }
      }
    }
  }
  img {
    display: flex;
    margin-left: auto;
    margin-top: 10px;
    cursor: pointer;

    &.reposition {
      position: fixed;
      right: 40px;
      top: 66%;
    }
  }
}
